*{
    font-family: "Roboto Mono",'Times New Roman', Times, serif;
}

.container{
margin: 0px auto;
width:1250px;
margin-bottom: 50px;
}


nav a{
    width: 165px;
    text-align: center;
    color: white;
    border-radius: .5rem;
    padding: 15px;
    margin: 10px 115px;
    background-color: #5ED3EB;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
}
nav a:first-child{
    background-color:#FF764E ; 
    margin-left: 100px; 
    padding: 5px;

}

nav a:last-child{
    background-color: #FFCD69;
    margin-right: 100px;
}

main img{
    display: inline-block;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    margin-left: 50px; 
    vertical-align: middle;
   
}

main div{
    display: inline-block;
    text-align: center;
    width: 550px;
    margin-left: 150px;
}

main div h1{
    font-family: "Chelsea Market",'Times New Roman', Times, serif;
}

.text-section div {
    margin-left: 50px ;
    background-color: #DDB9A3;
    color: white;
    text-align: center;
}

.events-section img{
    width: 10%;
    margin: 0 562.5px;
}

.events-section p{
    width: 400px;
    margin-left: 425px;
    text-align: center;
    margin-bottom: 30px;
}

.events-section p span{
    font-weight: bold;
}

footer div p{
    background-image: url("assets/footer_img.jpg");
    width: 1350px;
    margin: 0 -50px;
    margin-top: 150px;
}

footer div nav {
    background-color: #F9E7DC;
    width: 1350px;
    margin: 0 -50px;

}
footer div nav a{
    margin: 10px 141px;
}